body#sales-customer .container {
  max-width: 1000px; }
body#sales-customer .btn {
  color: #fff;
  border-radius: 2px;
  font-weight: 300;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  -ms-transition: all .15s ease;
  transition: all .15s ease; }
body#sales-customer .btn:hover {
  background-color: #c25002; }
body#sales-customer header {
  padding-top: 50px;
  padding-bottom: 50px; }
  body#sales-customer header #header-right {
    text-align: right; }
    body#sales-customer header #header-right .btn, body#sales-customer header #header-right .btn:hover {
      background: #4b71cc;
      font-size: 13px;
      padding: 10px 35px;
      line-height: 14px; }
body#sales-customer section#hero-2 {
  background-image: url("http://na-sj15.marketo.com/rs/088-AAQ-626/images/2016-06-quickbase-sales-cs-sales-customer-hero.jpg");
  background-position: center top; }
  body#sales-customer section#hero-2 #hero-right {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 7px; }
    body#sales-customer section#hero-2 #hero-right h1 {
      font-size: 40px;
      margin: 0;
      color: #333; }
    body#sales-customer section#hero-2 #hero-right p {
      font-size: 16px;
      line-height: 26px;
      color: #333;
      margin-top: 16px;
      margin-bottom: 16px; }
    body#sales-customer section#hero-2 #hero-right .btn-orange {
      background-image: url("http://na-sj15.marketo.com/rs/088-AAQ-626/images/2016-06-quickbase-lp_button-arrow.png");
      background-repeat: no-repeat;
      background-position: 94% 50%;
      font-weight: 100;
      text-align: left;
      padding: 20px 45px 20px 28px;
      font-size: 25px;
      background-size: 17px;
      width: auto; }
body#sales-customer section#quote {
  background: #4b71cc; }
  body#sales-customer section#quote #quote-text {
    padding-top: 50px;
    padding-bottom: 50px; }
    body#sales-customer section#quote #quote-text h2 {
      max-width: 450px;
      font-size: 27px;
      margin: 0 auto;
      font-weight: 300;
      padding-bottom: 20px;
      padding-top: 20px; }
    body#sales-customer section#quote #quote-text a.btn-orange-small {
      padding: 10px 35px;
      font-size: 13px;
      min-width: auto;
      border-radius: 2px; }
body#sales-customer section#body #customer-sales {
  padding-bottom: 35px; }
  body#sales-customer section#body #customer-sales .border-bottom {
    border-bottom: 1px solid #eee;
    overflow: hidden; }
  body#sales-customer section#body #customer-sales #body-left {
    border-right: 1px solid #eee;
    padding-bottom: 15px; }
    body#sales-customer section#body #customer-sales #body-left p {
      font-size: 16px;
      line-height: 26px; }
  body#sales-customer section#body #customer-sales #body-right img {
    margin-bottom: 10px; }
  body#sales-customer section#body #customer-sales #body-right p {
    font-size: 16px;
    line-height: 20px; }
body#sales-customer section#body .container > .row.video-content {
  padding-top: 0px; }
  body#sales-customer section#body .container > .row.video-content p {
    padding-top: 50px;
    padding-bottom: 50px; }
body#sales-customer section#body #slide-customer {
  background-color: #f9f9f9;
  position: relative; }
  body#sales-customer section#body #slide-customer > .container:before {
    top: 0;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #fff;
    border-width: 20px;
    margin-left: -20px; }
  body#sales-customer section#body #slide-customer > .container:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #f9f9f9;
    border-width: 20px;
    margin-left: -20px; }
  body#sales-customer section#body #slide-customer #body-right-2 p {
    font-size: 16px;
    line-height: 26px; }
  body#sales-customer section#body #slide-customer #body-right-2 hr {
    border-top: 1px solid #d1d1d1; }
  body#sales-customer section#body #slide-customer #body-right-2 #quote-right-50 p {
    line-height: 20px;
    margin-bottom: 0px; }
  body#sales-customer section#body #slide-customer #body-left-2 {
    border-right: 0px;
    padding-right: 0px; }
body#sales-customer section#body #info {
  margin-top: 50px;
  margin-bottom: 50px; }
  body#sales-customer section#body #info .container > .row:first-child {
    padding-bottom: 0px; }
  body#sales-customer section#body #info #info-left p {
    font-size: 16px;
    line-height: 26px;
    padding-right: 20px;
    margin-top: 16px; }
  body#sales-customer section#body #info #info-left #quote-left p {
    line-height: 20px;
    margin: 0; }
  body#sales-customer section#body #info #info-right {
    text-align: center;
    border-left: 1px solid #d6d6d6;
    padding-left: 40px;
    margin-left: 0 !important; }
    body#sales-customer section#body #info #info-right > div {
      position: relative; }
      body#sales-customer section#body #info #info-right > div p:first-child {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto !important;
        height: 64px; }

.carousel-indicators li {
  background: #fff;
  box-shadow: none;
  width: 8px;
  height: 8px; }
.carousel-indicators .active {
  background: #f06404;
  border: 2px solid #fff; }

.carousel-inner .carousel-caption {
  font-family: Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  position: absolute;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 0 50px;
  width: auto;
  bottom: 0;
  text-align: left;
  height: 480px;
  display: table;
  text-shadow: none;
  right: 0;
  left: 0; }
  .carousel-inner .carousel-caption > div {
    display: table-cell;
    vertical-align: middle; }
    .carousel-inner .carousel-caption > div h3 {
      margin-bottom: 30px; }
    .carousel-inner .carousel-caption > div li {
      list-style: disc;
      margin: 10px 0; }

.carousel-control.right {
  background: none;
  right: 0; }

.carousel-control.left {
  left: 0;
  background: none; }

.carousel-control, .carousel-control:focus {
  width: 30px;
  height: 30px;
  margin: -20px 0 0;
  top: 50%;
  opacity: .0;
  -webkit-transition: all .3s ease; }
  .carousel-control span, .carousel-control:focus span {
    width: 30px;
    height: 30px;
    display: block;
    background: url("http://na-sj15.marketo.com/rs/088-AAQ-626/images/2016-06-quickbase-lp-_bg_direction_nav.png") no-repeat 0 0;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px; }
  .carousel-control .btn-next, .carousel-control:focus .btn-next {
    background-position: 100% 0; }

.carousel:hover .carousel-control {
  opacity: .8; }

.carousel:hover .carousel-control.left {
  left: 5px; }

.carousel:hover .carousel-control.right {
  right: 5px; }

img.mfp-img {
  width: 100%;
  max-height: 100% !important; }

@media (max-width: 767px) {
  body#sales-customer header {
    padding-top: 40px;
    padding-bottom: 40px; }
    body#sales-customer header #header-right {
      text-align: center;
      padding-top: 20px; }
  body#sales-customer section#body #info {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center; }
    body#sales-customer section#body #info img {
      margin: 0 auto; }
    body#sales-customer section#body #info .container > .row {
      padding-top: 30px !important; }
    body#sales-customer section#body #info .container > .row:last-child {
      padding-bottom: 30px !important; }
    body#sales-customer section#body #info #quote-left {
      padding-bottom: 45px; }
  body#sales-customer section#body .container > .row.video-content p {
    padding-bottom: 0px;
    padding-top: 25px; }
  body#sales-customer section#body .container > .row.video-content {
    padding-bottom: 30px; }
  body#sales-customer section#hero-2 #hero-right h1 {
    font-size: 20px; }
  body#sales-customer section#hero-2 #hero-right .btn-orange {
    font-size: 12px;
    padding: 20px 35px 20px 18px; }
  body#sales-customer section#body #customer-sales #body-left {
    text-align: center;
    border-right: 0px; }
  body#sales-customer section#quote #quote-text {
    padding-top: 20px;
    padding-bottom: 20px; }
    body#sales-customer section#quote #quote-text h2 {
      font-size: 18px; }

  #slide-customer .container > .row {
    padding-top: 30px !important; }
  #slide-customer .container > .row:last-child {
    padding-top: 0px !important;
    padding-bottom: 30px !important; }

  #body-left-2 {
    padding-left: 0px !important; }

  #body-right-2 {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center; }
    #body-right-2 img {
      margin: 0 auto; }
    #body-right-2 > p {
      padding-top: 16px; }

  .carousel-inner .item > img {
    margin: 0 auto;
    height: 527px; }
  .carousel-inner .carousel-caption {
    margin: 0 auto;
    height: 527px; }

  a.btn-orange {
    padding: 10px 8px;
    font-size: 16px;
    width: auto; }

  .carousel:hover .carousel-control.left {
    left: 15px; }

  .carousel:hover .carousel-control.right {
    right: 15px; } }

/*# sourceMappingURL=2016-06-Quickbase-sales-main.css.map */
